:root {
    --tier-1: #bbbbbb;
    --tier-2: #14cc73;
    --tier-3: #54c3ff;
    --tier-4: #de0ebd;
    --tier-5: #ffc430;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url(https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6f62f9def3f86fa4/6303bd3beff6500f70d3940b/Ao_Shin_s_Summit_Spa_JPG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 90%;
    background-size: 110vw;
}

/* following classes are for testing wireframe placement on the page;
    will not be part of prod */
.section {
    border: 1px solid black;
    font-size: 1em;
}

.top {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.top div {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}
