.shop {
    display: flex;
    flex-direction: column;
    margin-top: 2.5vw;
    background-color: var(--interface);
    color: #ffffff;
    font-size: 1rem;
}

.shop-level-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.level-info {
    text-align: center;
}

.shop-level-info div {
    width: 250px;
}

.shop-interface {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.shop-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100px;
}

.shop-buttons button {
    height: 45px;
    margin: 2px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.exp-button:hover {
    background-color: #add8e6;
    color: #000000;
}

.refresh-button:hover {
    background-color: #90ee90;
    color: #000000;
}

.shop-units {
    display: flex;
    justify-content: space-evenly;
}

.shop-unit {
    width: 11.2vw;
    margin: 5px;
    border: 3px solid;
}

.empty-shop-slot {
    border: 1px solid #a97900;
}

.shop-unit img {
    width: 11vw;
    border: 1px solid #000000;
}

.shop-unit-name {
    color: #000000;
}

.tier-1 {
    border-color: var(--tier-1);
    background-color: var(--tier-1);
}

.tier-2 {
    border-color: var(--tier-2);
    background-color: var(--tier-2);
}

.tier-3 {
    border-color: var(--tier-3);
    background-color: var(--tier-3);
}

.tier-4 {
    border-color: var(--tier-4);
    background-color: var(--tier-4);
}

.tier-5 {
    border-color: var(--tier-5);
    background-color: var(--tier-5);
}

.shop-hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.odds{
    display: flex;
}

.odds p {
    margin: 0 5px;
}

.tier-1-odd {
    color: var(--tier-1);
}

.tier-2-odd {
    color: var(--tier-2);
}

.tier-3-odd {
    color: var(--tier-3);
}

.tier-4-odd {
    color: var(--tier-4);
}

.tier-5-odd {
    color: var(--tier-5);
}