.bench {
    height: 6vw;
    display: flex;
    justify-content: space-evenly;
}

.slot {
    width: 6vw;
    border: 5px solid;
}

.slot img {
    width: inherit;
}

.empty {
    /* 0.0 opacity for a "transparent border" when a slot has no unit */
    border-color: rgba(255, 255, 255, 0.0);
}

.one-star {
    border-color: #ffffff;
}

.two-star {
    border-color: #c0c0c0;
}

.three-star {
    border-color: #ffd700;
}