.bench {
    height: 7.4vw;
    display: flex;
    justify-content: space-evenly;
}

.slot {
    width: 6vw;
    height: 6vw;
    margin: 7px;
    border: 5px solid;
}

.slot img {
    width: inherit;
}

.empty-bench-slot {
    /* 0.0 opacity for a "transparent border" when a slot has no unit */
    border-color: rgba(255, 255, 255, 0.0);
}

.one-star {
    border-color: rgba(255, 255, 255, 0.0);
    filter: brightness(90%);
}

.two-star {
    border-color: #000000;
}

.three-star {
    border-color: #ffbb00;
    filter: brightness(120%);
}