.bench {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.slot {
    width: 100px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot img {
    width: 80px;
}